*, *::before, *::after {
    font-family: monospace;
    

}
.previous-display{
    margin-left: 3vw;
    background-color: rgba(47, 47, 47, 0.767);
    width: 90vw;
    height: 10vw;
    filter: drop-shadow(.1vw .1vw .1vw rgb(0,0,0))
}
.display-screen{
    display: inline-block;
    margin-left: 3vw;
    background-color: rgba(47, 47, 47, 0.767);
    width: 90vw;
    height: 20vw;
    filter: drop-shadow(.1vw .1vw 1vw rgb(0,0,0))
}
.calculator-buttons{
    position: absolute;
    margin-left: 3vw;
    padding-top: 1vw;
    width: 90vw;
    height: 70vw;
    background-color: rgb(225, 234, 250);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,87px);
    grid-template-rows: repeat(5,55px);
    filter: drop-shadow(.1vw .1vw 1vw rgb(0,0,0))
}
.calculator-buttons> button{
    
    background-color: darkseagreen;
    border: none;
    font-size: 7vw;
    padding: 2vw;
    margin: .5vw;
    filter: drop-shadow(.1vw .1vw .2vw rgb(0,0,0))
}
.calculator-buttons> button:hover{
    background-color: black;
}
.span-two{
    grid-column: span 2;
}
